<div class="row">
        <div class="h1">
                <h1>
                        Welcome, How Can We Help?
                </h1>
        </div>
</div>
<div class="row home bg-white">
        <div class="col-xs-12">
                <h2><i class="fa fa-stethoscope mainTheme cirlce flipH"></i> Book a Consultation</h2>
        </div>
        <div class="col-xs-12">
                <p>Seeing a doctor is easy. You can book a consultation in seconds and speak to a leading GP in minutes. Most of the time patents' problems are resolved there and then with prescriptions arranged where necessary.<br />
                Our UK and Ireland based GPs are available wherever you are, at a time that suits you. </p>
                <p><strong>Unilimited consultation for fust &pound;4.99 or &euro;7.99 per month.</strong></p>
        </div>
        <div class="col-xs-12  padding-bottom fixed-height relative">
                <img class="img-responsive" src="http://static1.squarespace.com/static/547deff4e4b0350ed130cc8f/t/565441cce4b095163c06aba4/1422449204718/What+we+treat_mums?format=1500w" />
                <a href="#/booking" class="cta_home">
                        <button class="btn btn-primary btn-lg btn_mainTheme"  >
                                Book a consultation <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </button>
                </a>
        </div>
</div>